<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--要引用log4net 相關ConfigurationSection-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <!--訊息格式 EX: 2016-03-01 18:15:59,912 [10] INFO  Log4netTest.Program - 9-->
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--檔名設定為example.log-->
      <file value="d:/log/marco/System.log" />
      <appendToFile value="true" />
      <!--檔案最大容量-->
      <maximumFileSize value="10000KB" />
      <maxSizeRollBackups value="1000" />
      <layout type="log4net.Layout.PatternLayout">
        <!--印出 日期 Thread編號 層級 Logger名稱 訊息-->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="Modbus." />
        <acceptOnMatch value="false" />
      </filter>
    </appender>
    <root>
      <!--Level為INFO的Log才會寫出-->
      <level value="DEBUG" />
      <!--印到Console上-->
      <appender-ref ref="ConsoleAppender" />
      <!--寫出至檔案-->
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="IO_Catrgory_1" value="ELPT(A部)"/>
      <add key="IO_Catrgory_2" value="ILPT(B部)"/>
      <add key="IO_Catrgory_3" value="STOCKER"/>
      <add key="IO_Define_1" value="1_ELPT.csv"/>
      <add key="IO_Define_2" value="2_ILPT.csv"/>
      <add key="IO_Define_3" value="3_STOCKER.csv"/>
      <!-- Croller 設定, 名稱空白時，視同無此設備-->
      <!-- 第一組 -->
      <add key="Controller_1_Name" value="MarcoController"/>
      <add key="Controller_1_IP" value="127.0.0.1"/>
      <add key="Controller_1_Port" value="9527"/>
      <!-- 第二組-->
      <add key="Controller_2_Name" value=""/><!-- Stocker2 -->
      <add key="Controller_2_IP" value=""/>
      <add key="Controller_2_Port" value=""/>
      <!-- 第三組-->
      <add key="Controller_3_Name" value=""/><!--Stocker3  -->
      <add key="Controller_3_IP" value=""/>
      <add key="Controller_3_Port" value=""/>
      <!-- 第四組-->
      <add key="Controller_4_Name" value=""/><!--Stocker4  -->
      <add key="Controller_4_IP" value=""/>
      <add key="Controller_4_Port" value=""/>
      <!-- 第五組-->
      <add key="Controller_5_Name" value=""/><!--Stocker5  -->
      <add key="Controller_5_IP" value=""/>
      <add key="Controller_5_Port" value=""/>
      
    </appSettings>
</configuration>